@model ITSD.Areas.ITSD.Models.tbl_JobActionTaken

@{
    ViewBag.Title = "Add Updates";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = new PMSRedirect.UserSessions();
    var Level = user.Level; //added by: jose
    user = null; //added by: jose
    var jo = new ITSD.Areas.ITSD.Models.tbl_JobOrder().Find(Model.JOID);
}

<div class="col-md-6">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h6>Add Updates</h6>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th>Job Order No.</th>
                                    <td>@jo.IDDisplay</td>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <td>@string.Format("{0:MMM dd, yyyy}", jo.JDate)</td>
                                </tr>
                                <tr>
                                    <th>Job Title</th>
                                    <td>@jo.Title</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>@Html.Raw(jo.JobDescription)</td>
                                </tr>
                                <tr>
                                    <th>Request By</th>
                                    <td>@jo.obj_RequestedBy.Info.Fullname</td>
                                </tr>
                                <tr>
                                    <th>Priority</th>
                                    <td>@jo.PriorityDesc</td>
                                </tr>
                                <tr>
                                    <th>Action Taker</th>
                                    <td>@string.Format("{0}\t\t\tLast: {1:MMM dd, yyyy hh:mm tt}", jo.ATIDInfo.Info.Fullname, jo.ATDate)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row mb-2 g-2">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ADate)
                        @Html.EditorFor(model => model.ADate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ADate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ActionTaken)
                        @Html.TextAreaFor(model => model.ActionTaken, 10, 10, new { @class = "form-control", placeholder = "Insert the description here" })
                        @Html.ValidationMessageFor(model => model.ActionTaken, "", new { @class = "text-danger" })
                    </div>
                    @if (Level == 1 || Level == 2)
                    {
                        <div class="col-md-12">
                            @Html.Label("Status")
                            @Html.DropDownList("Status", new ITSD.Areas.ITSD.Models.tbl_JobOrder().StatusList("Pending"), new { @class = "form-select" })
                        </div>
                    }
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Back to List", "ActionUpdate", new { ID = Model.JOID })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#RequestedBy').select2();

        TextEditor('#ActionTaken');
    </script>
}
